@tailwind base;
@tailwind components;
@tailwind utilities;


body,html{
    @apply bg-base-950 text-gray-200
}

.input-field{
    @apply border border-gray-500 p-2 rounded-md
}
.btn{
    @apply flex items-center justify-center gap-2 p-2 text-black font-semibold tracking-wider border-2 border-transparent rounded-md hover:border-primary-500 hover:bg-transparent hover:text-primary-400 transition-colors
}